.waiting_on{
  background-color: lightgoldenrodyellow;
 }

 .waiting_on li div:nth-of-type(2) {
  color: black;
}

.waiting_on li div:nth-of-type(2).expired {
  color: red;
}

 .received{
  background-color: lightgreen;
 }
